*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}
.navbar{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo img{
    height: 50px;
    width: 60px;
    border-radius: 50%;
    margin-left: 20px;
}
.navbar a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-family: sans-serif;
    transition: transform .2s;
}
.navbar ul{
    display: flex;
    list-style: none;
}
.navbar li{
    margin-right: 20px;
    font-weight: bold;
}
.navbar ul li:hover{
    transform: scale(1.2);
  }
.logpage{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    color: #fff;
    background: url(./background.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
.logpage .form{
    border: 2px solid rgba(255,255, 255,.2);
    border-radius: 10px;
    padding: 30px 40px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0,0,0,.2);
}
.logpage h1{
    font-size: 36px;
    text-align: center;
}
.logpage .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid;
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}
.input-box input::placeholder{
    color: #fff;
}
.input-box i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.logpage .forgot{
    display: flex;
    justify-content: center;
    align-items: center;
}
.forgot a{
    color: #fff;
    text-decoration: none;
}
.forgot a:hover{
    text-decoration: underline;
}
.logpage .btn{
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}
.logpage .register-link{
    font-size: 14.5px;
    text-align: center;
    margin-top: 20px;
}
.register-link p a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}
.register-link p a:hover{
    text-decoration: underline;
}





/* footer code starts */
.footer{
    background-color: darkgrey;
    text-align: center;
    padding: 10px;
    line-height: 30px;
  }
  .footer a{
    text-decoration: none;
    color: black;
    margin: 0px 20px;
  }